p{
    font-weight: 800;
    font-size: 15rem;
    text-align: center;
    background-color: yellow;
    background-image:url("pexels-pixabay-163210.png") ;
    background-size: 100%;
    background-repeat:no-repeat;
    color: blue;

}