*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    min-height: 2020vh;
}
.outer-container{
    border: 4px dashed blue;
    width:75vw;
    height: 85vh;
    margin: 150px outer;
    background-color:black;

}
.innner-container{
    border: 5px solid red;
    width: 30vw;
    height: 45vw;
    margin: 75px autos;
    background-color:brown;
}
.box{
    width: 150px;
    height: 150px;
    color:blue
    padding: 1rem;
}
.absolute{
    background-color:blue
}